@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

#container {
    font-family: 'Noto Sans JP', sans-serif;    
    margin: 0 20%;
    background-color: #e2bce0;
    height: 770px;
}

table {
    width: 100%;
}

table, th, td {
    border: 2px solid #000;
    border-collapse: collapse;
}

th, td {
    font-size: 20px;
    padding: 15px;
}

table {
    border-spacing: 5px;
}

td {
    text-align: center;
}

tr:nth-child(odd){
    background-color: #c776c2;
}

tr:nth-child(even){
    background-color: #a4449f;
}

th {
    background-color: #edd1ec;
}

tr:hover {
    background-color: #582556;
}

.img_tbl {
    width: 30%;
    margin: auto;
    display: block;
}

th {
    background-color: #fff !important;
}

tr:hover {
    background-color: #a9a9a9;
}

.img-tbl {
    width: 25%;
    margin: auto;
    display: block;
}

.info input[type=text],
.info input[type=email] {
    padding: 4px;
    border-radius: 5px;
    border: none;
    width: 70%;
    display: block;
    outline: none;
}

.gen label {
    position: absolute;
}

.gen input[type=radio] {
    margin-left: 80px;
}

.endereco select {
    padding: 4px;
    outline: none;
    border: none;
}

input[type=submit] {
    display: block;
    margin: 10px auto;
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #ff1ea9;
    color: #ffffff;
    opacity: 0.8;
}

input[type=submit]:hover {
    opacity: 1;
}

input:focus:invalid {
    border: 2px solid #dc143c;
}